include ../mixins/sub-menu.pug
header.header
    .container
        .d-flex.justify-content-between.align-items-center
            .inner-logo
                a(href="/")
                    img(src=settingGeneral.logo, alt=settingGeneral.websiteName, width="100px", height="100px")
            form.d-flex(
                action="/search"
                method="GET"
            )            
                input(
                    type="text"
                    class="form-control me-2"
                    placeholder="Nhập từ khóa..."
                    name="keyword"
                    value=keyword
                )
                button(type="submit" class="btn btn-primary") Tìm
            .inner-menu
                ul.d-flex.mb-0
                    li.me-3
                        a(href="/") Trang chủ
                    li.me-3(class="sub-menu")
                        -const pathProduct = "/products";
                        a(href=pathProduct) Danh mục phẩm
                            +sub-menu(layoutProductCategory, pathProduct)
                    li
                        a(href="/cart") Giỏ hàng (#{miniCart ? miniCart.totalQuantity : 0})
                    if(user)
                        li
                            a(href="/user/info") #{user.fullName}
                        li
                            a(href="/user/logout") Đăng xuất
                    else
                        li
                            a(href="/user/login") Đăng nhập
                        li
                            a(href="/user/register") Đăng ký
                    