extends ../../layouts/default.pug

block main
    h1(class="mb-4") Thêm mới nhóm quyền
    form(
        action=`${prefixAdmin}/roles/create`
        method="POST"
    )
        div(class="form-group")
            label(for="title") Tiêu đề
            input(
                type="text"
                id="title"
                name="title"
                class="form-control"
                required
            )
        div(class="form-group")
            label(for="desc") Mô tả
            textarea(
                id="desc"
                name="description"
                class="form-control textarea-mce"
                type="text"
            )
        div(class="form-group")
            button(
                type="submit"
                class="btn btn-primary"
            ) Tạo mới